.colorFieldLabel {
    --color-main: #000;
    color: var(--color-main);
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
}

.colorFieldInput {
    margin-left: .5rem;
    margin-top: 1rem;
}

@media screen and (max-width: 640px){
    .colorFieldInput {
        display: block;
        margin-left: 0; 
    }
}