.heading {
    --color-background: #006494;
    --color-main: #fff;
    background-color: var(--color-background);
    border-radius: 8px;
    color: var(--color-main);
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem;
}