body {
  --background-main: #051923;
  background-color: var(--background-main);
  margin: 0;
  padding: 2em;
}

fieldset {
  border: none;
  padding: 0;
}

main {
  --background-main: #fff;
  background-color: var(--background-main);
  border-radius: 8px;
  padding: 1rem;
  margin: 0 auto;
  max-width: 640px;
}