.textFieldInput {
    border-radius: 4px;
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 0;
    width: 100%;
}

.textFieldLabel {
    --color-main: #000;
    color: var(--color-main);
    font-family: 'Poppins', sans-serif;
    padding: .5rem .5rem .5rem 0;
}